<section id="selection" class="block block-selector block-three-column-1">
  <div style="text-align: center; margin-bottom: 2rem;">
    <p>{{ section.headline }}</p>
  </div>
  <div class="container">
    <div class="columns">
      <a href="{{ section.link1 | relative_url }}" class="column selector">
        <p>{{ section.selector1 }}</p>
      </a>
      <a href="{{ section.link2 | relative_url }}" class="column selector">
        <p>{{ section.selector2 }}</p>
      </a>
      <a href="{{ section.link3 | relative_url }}" class="column selector">
        <p>{{ section.selector3 }}</p>
      </a>
    </div>
  </div>
</section>
