<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base href="{{ site.baseurl }}">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <meta name="author" content="{{ site.author }}">
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/forestryio/ubuild-blocks@1.0.0/dist/css/ubuild.css"/>
    <style>
      .selector {
        border: 1px solid #00000018;
        padding: 1rem;
        border-radius: 10px;
      }
      .selector:hover {
        border: 1px solid #000000a6;
      }
      #selection a {
        text-decoration: none;
      }

      @media (max-width: 600px) {
        .block-header-1--nav {
          display: none;
        }
      }

    </style>
  </head>
  <body>
